body
{
    margin: 0;
    padding: 0;
    background-image: url(4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform:  translate(-50%,-50%);
    width: 600px;
    height: 600px;
    padding: 80px 40px;
    background: rgba(0,0,0, 0.6);
    color: #fff;

}
.avatar
{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-80px/2);
    left: calc(50% -40px);
}
.contact-form h2{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
}
.contact-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;

}
.contact-form input{
    width: 100%;
    margin-top: 20px;
    

}
.contact-form input[type=checkbox],
.contact-form input[type=radio]{
    width: 10%;
    margin-top: 20px;

}
.contact-form input[type=email],
.contact-form input[type=text],
.contact-form input[type=password],
.contact-form input[type=date]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;

}
.contact-form input[type=submit],
.contact-form input[type=reset]
{
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;

}
.contact-form input[type=reset]
{
    background: whitesmoke;
    color: red;
}
::-webkit-input-placeholder
{
    color: rgb(206, 198, 198);
}
:-ms-input-placeholder
{
    color: rgb(206, 198, 198);
}
::-moz-placeholder
{
    color: rgb(206, 198, 198);
}
:-moz-placeholder{
    color: rgb(206, 198, 198);
    opacity: 1;
}