#y{
    color: crimson;
    text-shadow: rgb(3, 251, 218) 3px 4px 4px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red{
    margin: 0px;
    border-radius: 0rem 3.75rem 3.75rem 0rem;
    background-color: rgba(79, 245, 217, 0.897);
    width: fit-content;
}
.cen{
    font-size: 18px;
    
    align-items: center;
    justify-content: center;
}
.d{
    font-size: 18px;
}
.line{
    border-style: dotted none none;
border-color:lightgray;
border-width: 8px;;
width: 5%;
}
.back
{
    margin: 0px;
    background-image: linear-gradient(280deg, #c2eef0 10%,rgb(0, 255, 179) 100%); 
}
.st{
    background-image: linear-gradient(180deg, #89faf4 30%,rgb(199, 236, 114) 90%); 
}
h1:hover
{
    width: fit-content;
    text-decoration: underline;
    background-image: linear-gradient(180deg, rgba(68, 209, 186, 0.897) 22%,rgb(29, 236, 150) 50%); 
    font-size: 2.1rem;
    transition: 0.9s;
}
.btn
{   margin-bottom: 50px;
    margin-left: 0px;
    cursor: pointer;
    position: relative;
    padding: .8rem 1.2rem;
    border-radius: 3.75rem;
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    transition: 0.8s;
    border: 2px solid black;
    background-image: linear-gradient(80deg, #71c9ce 0%,rgb(0, 255, 179) 100%); 
    box-shadow:  1rem 0 1.25rem 0 #134d50 inset;
}
.btn:hover
{
    background-image: linear-gradient(180deg, rgb(166, 168, 9) 15%,rgb(255, 251, 16) 100%); 
    border: 2px dotted rgb(166, 170, 182)
}